* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  color: white;
}

.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
}
.app-google {
  margin: 50px;
}
.app-google img {
  margin-bottom: 50px;
  height: 50px;
}
.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #ccc;
  font-weight: bold;
}
.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 400px;
  text-align: center;
  outline: none;
}
.footer-top {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70px;
}
.footer-top img {
  height: 50px;
}
.footer-top li {
  padding: 0 12px;
  position: relative;
}
.footer-top li a {
  color: #ccc;
}
.footer-top li::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background-color: #cccccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-top li:last-child::after {
  display: none;
}
.footer-top li:last-child a {
  margin-right: 2px;
}
.footer-center {
  text-align: center;
}
.footer-center span {
  font-weight: bold;
}
.footer-bottom {
  margin: 20px;
  text-align: center;
}
