<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>foot</title>
    <link rel="stylesheet" href="../DA2/public/asset/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- footer app-->
    <section class="app-container">
      <p>tải ứng dụng</p>
      <div class="app-google">
        <a href=""><img src="../DA2/public/asset/img/8.png" alt="" /></a>
        <a href=""><img src="../DA2/public/asset/img/9.png" alt="" /></a>
        <p>nhận bản tin IVY moda</p>
        <input type="text" placeholder="nhập email của bạn" />
      </div>
    </section>
    <!-- footer  -->

    <div class="footer-top row">
      <li>
        <a href=""><img src="../DA2/public/asset/img/10.png" alt="" /></a>
      </li>
      <li><a href="">liên hệ</a></li>
      <li><a href="">tuyển dụng</a></li>
      <li><a href="">giới thiệu</a></li>
      <li>
        <a href="" class="fab fa-facebook"></a>
        <a href="" class="fab fa-twitch"></a>
        <a href="" class="fab fa-youtube"></a>
      </li>
    </div>

    <div class="footer-center">
      <p>
        Hình ảnh này là nút "Download on the App Store" (Tải xuống trên App
        Store),
        <br />
        thường được sử dụng để liên kết người dùng đến cửa hàng ứng dụng của
        Apple.
        <br />
        SDT: <span>0392813175</span>
      </p>
    </div>
    <div class="footer-bottom">
      <p>©IVYmoda All rights reserved</p>
    </div>
  </body>
</html>
