<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compaitible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/asset/css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <i class="fa-solid fa-bars"></i>
        <ul>
          <li style="--x: 1"><a href="../duan1/index.html">Trang Chủ</a></li>
          <li style="--x: 2"><a href="">về chúng tôi</a></li>
          <li style="--x: 3"><a href="">Địa Điểm</a></li>
          <li style="--x: 4"><a href="">Lịch Sử</a></li>
          <li style="--x: 5"><a href="">Ẩm Thực</a></li>
          <li style="--x: 6"><a href="">Cộng Đồng</a></li>
          <li style="--x: 7"><a href="">liên hệ</a></li>
        </ul>
      </div>
      <div class="video-container">
        <video src="/public/asset/img/video1.mp4" autoplay muted loop></video>
      </div>
      <div class="header-content">
        <h1>khám phá</h1>
        <p>sách ba lô lên và đi</p>
        <form action="">
          <h1>Đăng Kí Tài Khoản và Trải Ngiệm</h1>
          <p>Tài Khoản</p>
          <input type="text" />
          <p>Mật Khẩu</p>
          <input type="password" />
          <p>Xác Nhận Mật Khẩu</p>
          <input type="password" />
          <p>Email</p>
          <input type="email" />
          <p>Số Điện Thoại</p>
          <input type="number" />
          <button onclick="window.location.href='../dự án 1/index.html'">
            Đăng Ký
          </button>
        </form>
      </div>
    </header>
   
         <section class="nice-place">
            <div class="container">
                <h1 class="h1-style">địa điểm nổi bật</h1>
                <div class="nice-place-content row">
                    <div class="nice-place-item">
                        <div class="nice-place-img">
                            <img src="3.jpg" alt>
                        </div>
                        <div class="nice-place-text">
                            <h2>Tour miền trung</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p>Đà Nẵng là một trong sáu thành phố trực thuộc trung ương của Việt Nam, nằm tại khu vực Duyên hải Nam Trung Bộ. Đây là thành phố lớn nhất của miền Trung, đóng vai trò là trung tâm chính trị, kinh tế - xã hội lớn của miền Trung và là hạt nhân quan trọng trong Vùng kinh tế trọng điểm miền Trung.</p>
                            <butto class="btn">mua Tour</button>
                        </div>
                    </div>
                    <div class="nice-place-item">
                        <div class="nice-place-img">
                            <img src="2.jpg" alt>
                        </div>
                        <div class="nice-place-text">
                            <h2>Tour miền bắc</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p>Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố hẹp được mang tên "hàng". Có rất nhiều ngôi đền nhỏ, bao gồm Bạch Mã, tôn vinh một con ngựa huyền thoại, cùng với chợ Đồng Xuân, bán hàng gia dụng và thức ăn đường phố. </p>
                            <butto class="btn">mua Tour</button>
                        </div>
                    </div>
                    <div class="nice-place-item">
                        <div class="nice-place-img">
                            <img src="1.jpg" alt>
                        </div>
                        <div class="nice-place-text">
                            <h2>Tour miền nam</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p></p>
                          <a href="../index.html"><butto class="btn">mua Tour</button></a>  
                        </div>
                    </div>
                </div>
            </div>
         </section>
        
          <section class="about">
            <div class="container">
                <h1 class="h1-style">about</h1>
                <div class="about-content row">
                    <div class="about-content-left">
                        <img src="12.jpg">
                    </div>
                    <div class="about-content-right">
                        <h2>tại sao lại chọn chúng tôi</h2>
                        <p>chúng tôi là công ty hàng đầu về du lịch</p>
                        <button class="btn">tìm hiểu thêm</button>
                    </div>
                </div>
                <div class="service row">
                <div class="service-item">
                    <img src="3.jpg">
                    <p>đạt phòng</p>
                </div>
                <div class="service-item">
                    <img src="2.jpg">
                    <p>book</p>
                </div>
                <div class="service-item">
                    <img src="1.jpg">
                    <p>dịch vụ</p>
                </div>
            </div>
            </div>
          </section>
           
           <section class="tour">
            <div class="container">
                <h1 class="h1-style">tour mùa hè</h1>
                <div class="tour-content row">
                    <div class="tour-content-item row">
                        <div class="tour-content-item-img">
                            <img src="1.jpg">
                        </div>
                        <div class="tour-content-item-text">
                            <h2>Sài Gòn</h2>
                            <p>Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố</p>
                            <button class="btn">tìm hiểu</button>
                        </div>
                    </div>
                    <div class="tour-content-item row">
                        <div class="tour-content-item-img">
                            <img src="2.jpg">
                        </div>
                        <div class="tour-content-item-text">
                            <h2>Sài Gòn</h2>
                            <p>ádsadsadasáddddddddddddddddddddddddddddddddddđ</p>
                            <button class="btn">tìm hiểu</button>
                        </div>
                    </div>
                    <div class="tour-content-item row">
                        <div class="tour-content-item-img">
                            <img src="">
                        </div>
                        <div class="tour-content-item-text">
                            <h2>Sài Gòn</h2>
                            <p>ádsadsadasáddddddddddddddddddddddddddddddddddđ</p>
                            <button class="btn">tìm hiểu</button>
                        </div>
                    </div>
                    <div class="tour-content-item row">
                        <div class="tour-content-item-img">
                            <img src="">
                        </div>
                        <div class="tour-content-item-text">
                            <h2>Sài Gòn</h2>
                            <p>Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố</p>
                            <button class="btn">tìm hiểu</button>
                        </div>
                    </div>
                </div>
            </div>
           </section> 
     <section class="Review">
                <div class="container">
                    <h1 class="h1-style">Phan hoi</h1>
                    <div class="Review-content row">
                        <div class="Review-item">
                            <div class="Review-item-text">
                                <img src="comment.png">
                                <p><span>&ldquo;</span> Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố <span>&rdquo;</span></p>
                            </div>
                            <div class="Review-item-img row">
                                <img src="1.jpg">
                                <div class="Review-item-img-text">
                                    <h2>Ngô sĩ nguyên</h2>
                                <p>ngày 15/07/2006</p>
                                </div>
                            </div>
                        </div>
                        <div class="Review-item">
                            <div class="Review-item-text">
                                <img src="comment.png">
                                <p><span>&ldquo;</span> Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố <span>&rdquo;</span></p>
                            </div>
                            <div class="Review-item-img row">
                                <img src="1.jpg">
                                <div class="Review-item-img-text">
                                    <h2>Ngô sĩ nguyên</h2>
                                <p>ngày 15/07/2006</p>
                                </div>
                            </div>
                        </div>
                        <div class="Review-item">
                            <div class="Review-item-text">
                                <img src="comment.png">
                                <p><span>&ldquo;</span> Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú với sự ảnh hưởng của khu vực Đông Nam Á, Trung Quốc và Pháp. Trung tâm thành phố là Khu phố cổ nhộn nhịp, nơi các con phố <span>&rdquo;</span></p>
                            </div>
                            <div class="Review-item-img row">
                                <img src="1.jpg">
                                <div class="Review-item-img-text">
                                    <h2>Ngô sĩ nguyên</h2>
                                <p>ngày 15/07/2006</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section> -->
    <script src="script.js"></script>
  </body>
</html>
