<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ND Travel</title>
    <link rel="stylesheet" href="../DA2/public/asset/css/header.css" />
    <link rel="stylesheet" href="../DA2/public/asset/css/home1.css" />

    <link rel="stylesheet" href="../DA2/public/asset/css/tour.css" />
    <link rel="stylesheet" href="../DA2/public/asset/css/booking.css" />

    <link rel="stylesheet" href="../DA2/public/asset/css/footer.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <figure class="logo row">
        <a href="/">
          <img src="../DA2/public/asset/img/logo.jpg" alt="ND Travel Logo" />
        </a>
        <figcaption>ND Travel</figcaption>
      </figure>

      <nav class="menu">
        <ul>
          <li>
            <a href="index.php?controller=home&action=index">Trang Chủ</a>
          </li>
          <li>
            <a href="index.php?controller=home&action=gioithieu">Giới Thiệu</a>
          </li>

          <li>
            <a href="index.php?controller=tour&action=index">Tour Du Lịch</a>
            <ul class="sub-menu">
              <li>
                <a href="">tour trong nước</a>
                <ul>
                  <li><a href="">Bắc Bộ</a></li>
                  <li><a href="">Trung bộ</a></li>
                  <li><a href="">Nam bộ</a></li>
                </ul>
              </li>
              <!-- <li>
                            <a href="">tour nước ngoài</a>
                            <ul>
                                <li><a href="">Bắc Trung Bộ</a></li>
                                <li><a href="">Trung bộ</a></li>
                                <li><a href="">Nam Trung bộ</a></li>
                            </ul>
                        </li> -->
            </ul>
          </li>

          <li><a href="">liên hệ</a></li>
        </ul>
      </nav>

      <div class="other row">
        <form
          class="search-form"
          role="search"
          action="index.php?controller=tour&action=seachTour"
          method="POST"
        >
          <input type="text" placeholder="Tìm kiếm..." name="keyword" />
          <button type="submit" aria-label="Tìm kiếm">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <nav class="user-utility-nav">
          <ul>
            <li>
              <a
                class="fa-solid fa-clock-rotate-left"
                href="index.php?controller=booking&action=bookingHistory"
                title="Lịch sử xem"
              ></a>
            </li>
            <li>
              <a
                class="fa-solid fa-user"
                href="index.php?controller=user&action=index"
                title="Tài khoản"
              ></a>
            </li>
            <li>
              <a
                class="fa-solid fa-basket-shopping"
                href="#"
                title="Giỏ hàng"
              ></a>
            </li>
            <li>
              <a
                class="fa-solid fa-power-off"
                href="index.php?controller=login&action=logout"
                title="Đăng xuất"
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="slider">

      <div class="aspect-ratio-169">
        <img src="../DA2/public/asset/img/hoian.jpg" alt="" />
        <img src="../DA2/public/asset/img/halong.jpg" alt="" />
        <img src="../DA2/public/asset/img/hue.jpg" alt="" />
        <img src="../DA2/public/asset/img/hcm.jpg" alt="" />
      </div>
      <div class="dot-container">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="header-content">
        <h1>khám phá</h1>
        <p>sách ba lô lên và đi</p>
        <form action="index.php?controller=tour&action=seachTour" method="POST" class="form1">
          <h1>Tìm Chuyến Đi Phù Hợp</h1>
          <p>Bạn Muốn Đi Đâu</p>
          <input type="text" name="keyword"/>
          <p>Điểm Đi</p>
           <select name="start">
                <option value="">Chọn điểm đi</option>
                <option value="Hà Nội">Hà Nội</option>
                <option value="TP.HCM">TP.HCM</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
            </select>
          <p>Điểm Đến</p>
          <select name="end">
                <option value="">Chọn điểm đến</option>
                <option value="nha trang">Nha Trang</option>
                <option value="Quảng Ninh (Hạ Long)">Quảng Ninh (Hạ Long)</option>
                <option value="Lào Cai (Sa Pa)">Lào Cai (Sa Pa)</option>
                <option value="Hà Nội">Hà Nội</option>
                <option value="Hà Giang">Hà Giang</option>
                <option value="Phú Yên">Phú Yên</option>
            </select>
          <p>Ngày Đi</p>
          <input type="date" />
          

          <button type="submit">
            Tìm Kiếm
          </button>
        </form>
      </div>
    </section>
    


    <section class="nice-place">
    <div class="container">
        <h1 class="h1-style">Địa điểm nổi bật</h1>
        <div class="nice-place-content rows">
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/dbb.jpg" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Đông Bắc Bộ</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Đông Bắc Bộ là vùng lãnh thổ ở phía đông bắc Bắc Bộ và ở hướng bắc vùng đồng bằng sông Hồng, Việt
                        Nam. Gọi là đông bắc để phân biệt với Vùng Tây Bắc.Vùng đông bắc là một trong 3 tiểu vùng địa lý
                        tự nhiên của Bắc Bộ Việt Nam.</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/dbb.html'">Tìm Hiểu</button>
                </div>
            </div>
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/tbb.jpg" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Tây Bắc Bộ</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Tây Bắc Bộ, vùng Tây Bắc hay ngắn gọn là Tây Bắc là vùng miền núi phía tây của miền Bắc Việt Nam,
                        có chung đường biên giới với Lào và Trung Quốc. Vùng này là một trong 3 phần của Bắc Bộ Việt Nam
                        (2 tiểu vùng kia là Vùng Đông Bắc và Đồng bằng sông Hồng). Vùng có diện tích 50.576 km².</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/tbb.html'">Tìm Hiểu</button>
                </div>
            </div>
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/dbsh.jpg" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Đồng Bằng Sông Hồng</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Vùng đồng bằng sông Hồng – một bộ phận quan trọng của địa hình Việt Nam, đã chơi một vai trò vô
                        cùng quan trọng trong sự phát triển kinh tế của đất nước. Từ nguồn tài nguyên thiên nhiên phong
                        phú đến vai trò của mạch nước sông Hồng trong giao thông và kinh tế.</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/dbsh.html'">Tìm Hiểu</button>
                </div>
            </div>
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/mttn.jpg" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Miền Trung-Tây Nguyên</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Miền Trung- Tây Nguyên, vùng đất nổi tiếng địa linh nhân kiệt, nước biếc non xanh... Miền đất này
                        qua hàng ngàn năm lịch sử đã cống hiến cho đất nước rất nhiều người con ưu tú, kiệt xuất, đóng
                        góp to lớn vào sự nghiệp bảo vệ và xây dựng Tổ quốc.</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/mttn.html'">Tìm Hiểu</button>
                </div>
            </div>
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/dnb.webp" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Đông Nam Bộ</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p> Đông Nam Bộ là vùng đất mới trong lịch sử phát triển của đất nước, khu vực tập trung nhiều đô
                        thị nằm giữa các tỉnh Nam Trung Bộ và Nam Tây Nguyên là những vùng giàu tài nguyên đất đai, rừng
                        và khoáng sản</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/dnb.html'">Tìm Hiểu</button>
                </div>
            </div>
            <div class="nice-place-item">
                <div class="nice-place-img">
                    <img src="../DA2/public/asset/img/dbscl.jpg" alt>
                </div>
                <div class="nice-place-text">
                    <h2>Đồng Bằng Sông Cửu Long</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p>Vùng Đồng bằng sông Cửu Long được thiên nhiên ưu đãi đầy đủ các điều kiện tự nhiên về sinh thái,
                        sông nước, đồi núi, biển đảo, cộng hưởng với những nét văn hóa độc đáo của đồng bào các dân tộc
                        Kinh, Khmer, Chăm, Hoa,… tạo nên một vùng đất đáng nhớ, thu hút khách du lịch gần xa.</p>
                    <butto class="btn" onclick=" window.location.href='../khuvuc/dbscl.html'">Tìm Hiểu</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <h1 class="h1-style">Về Chúng Tôi</h1>
        <div class="about-content rows">
            <div class="about-content-left">
                <img src="../DA2/public/asset/img/about2.png">
            </div>
            <div class="about-content-right">
                <h2>tại sao lại chọn chúng tôi</h2>
                <p>chúng tôi là website cung cấp đến người dùng quốc tế một cái nhìn tổng quan về lịch sử, văn hoá, ẩm
                    thực, các địa điểm du lịch ở đất nước Việt Nam.Chúng Tôi Luôn Cung cấp dịch vụ tốt nhất đến người
                    dùng.Bên cạnh đó website của Chúng tôi cung cấp và xây dựng một cộng đồng cho các tính đồ đã và đang
                    có dự tịnh trãi nghiệm cảm giác du lịch bụi.website sẽ kết nối người dân địa phương và khách du lịch
                    các nơi trên thế giới nằm cung cấp một trãi nghiệm tuyệt vời ý nghĩa nhất có thể.</p>
                <p>“Tuổi trẻ là để khám phá, để học hỏi và để trưởng thành.”</p>
                <p> “Đừng để tuổi trẻ trôi qua mà không để lại dấu ấn.”</p>
                <button class="btn">tìm hiểu thêm</button>
            </div>
        </div>
        <div class="service rows">
            <div class="service-item">
                <img src="../DA2/public/asset/img/air.png">
                <p>Đặt vé</p>
            </div>
            <div class="service-item">
                <img src="../DA2/public/asset/img/book1.png">
                <p>book</p>
            </div>
            <div class="service-item">
                <img src="../DA2/public/asset/img/dichvu.png">
                <p class="dichvu">dịch vụ</p>
            </div>
        </div>
    </div>
</section>

<section class="tour">
    <div class="container">
        <h1 class="h1-style">Các Địa Điểm Lịch Sử</h1>
        <div class="tour-content rows">
            <div class="tour-content-item rows">
                <div class="tour-content-item-img">
                    <img src="../DA2/public/asset/img/thanglong.jpg">
                </div>
                <div class="tour-content-item-text">
                    <h2>Hoàng Thành Thăng Long</h2>
                    <p>Hoàng Thành Thăng Long là khu di tích được đất nước xây dựng từ thế kỷ thứ VII, dưới triều đại
                        Đinh-Tiền Lê sau đó phát triển mạnh ở thời Lý, Trần, Lê và triều Nguyễn. Hoàng Thành Thăng Long
                        là một công trình kiến trúc đồ sợ đại diện cho một trong những công trình để bảo vệ đất nước lớn
                        nhất nước ta. Hoàng Thành Thăng Long được các triều đại xây dựng qua nhiều giai đoạn mới hoàn
                        thành thành công. Sau này, khi đất nước đã được thống nhất, Hoàng Thành Thăng Long trở thành một
                        trong những di tích lịch sử lâu đời và quan trọng bậc nhất </p>
                    <button class="btn">tìm hiểu</button>
                </div>
            </div>
            <div class="tour-content-item rows">
                <div class="tour-content-item-img">
                    <img src="../DA2/public/asset/img/langchutich.jpg">
                </div>
                <div class="tour-content-item-text">
                    <h2>Lăng Chủ Tịch Hồ Chí Minh</h2>
                    <p>Lăng Chủ tịch Hồ Chí Minh hay Lăng Hồ Chủ tịch còn được gọi với tên thân thương là lăng Bác tọa
                        lạc tại địa chỉ số 2 Hùng Vương, thuộc phường Điện Biên, quận Ba Đình, TP. Hà Nội. Công trình là
                        nơi gìn giữ di hài của Bác theo nguyện vọng, tình cảm của Ban chấp hành trung ương Đảng và nhân
                        dân. Lăng Bác được khởi công vào ngày 02/9/1973 và khánh thành vào ngày 29/8/1975.</p>
                    <button class="btn">tìm hiểu</button>
                </div>
            </div>
            <div class="tour-content-item rows">
                <div class="tour-content-item-img">
                    <img src="../DA2/public/asset/img/quangtri.jpg">
                </div>
                <div class="tour-content-item-text">
                    <h2>Thành Cổ Quảng Trị</h2>
                    <p>Thành Cổ Quảng Trị, hay còn có tên gọi khác là Cổ thành Quảng Trị, là một di tích quốc gia đặc
                        biệt nằm tại ở thị xã Quảng Trị, tỉnh Quảng Trị. Đây là lỵ sở của triều đình nhà Nguyễn và là
                        công trình thành luỹ quân sự trên địa hạt Quảng Trị. Vào thời Pháp thuộc, nơi này chính là trung
                        tâm của tỉnh Quảng Trị lúc bấy giờ. Đặc biệt, trong cuộc tổng tấn công và nổi dậy năm 1972, nơi
                        đây đã được cả thế giới biết đến khi gắn liền với cuộc chiến 81 ngày đêm đầy hào hùng của dân
                        tộc.</p>
                    <button class="btn">tìm hiểu</button>
                </div>
            </div>
            <div class="tour-content-item rows">
                <div class="tour-content-item-img">
                    <img src="../DA2/public/asset/img/diadaocuchi.jpg">
                </div>
                <div class="tour-content-item-text">
                    <h2>Địa Đạo Củ Chi</h2>
                    <p>Ðịa đạo Củ Chi là một di tích lịch sử cách mạng nổi tiếng, thuộc xã Phú Mỹ Hưng, huyện Củ Chi,
                        cách trung tâm Tp. Hồ Chí Minh 70km về phía tây bắc. § Ðặc điểm: Ðịa đạo quả là kỳ quan độc nhất
                        vô nhị: dài 250km chạy ngoắt ngoéo trong lòng đất, được làm nên từ dụng cụ thô sơ là lưỡi cuốc
                        và chiếc ki xúc đất.</p>
                    <button class="btn">tìm hiểu</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Review">
    <div class="container">
        <h1 class="h1-style">Phản Hồi</h1>
        <div class="Review-content rows">
            <div class="Review-item">
                <div class="Review-item-text">
                    <img src="../DA2/public/asset/img/comment2.png">
                    <p><span>&ldquo;</span>Trang web rất chuyên nghiệp và thân thiện với người dùng. Giao diện dễ nhìn,
                        tốc độ tải nhanh, thông tin được cập nhật rõ ràng và chi tiết. Đặc biệt mình thích phần gợi ý
                        hành trình và mẹo du lịch – rất thực tế và phù hợp với nhu cầu của mình. Mình sẽ giới thiệu
                        trang này cho bạn bè nếu họ cần tìm hiểu địa điểm du lịch.<span>&rdquo;</span></p>
                </div>
                <div class="Review-item-img rows">
                    <img src="../DA2/public/asset/img/add1.jpg">
                    <div class="Review-item-img-text">
                        <h2>Lê Thanh Phú Quý</h2>
                        <p>ngày 16/07/2024</p>
                    </div>
                </div>
            </div>
            <div class="Review-item">
                <div class="Review-item-text">
                    <img src="../DA2/public/asset/img/comment2.png">
                    <p><span>&ldquo;</span> Mình thật sự rất hài lòng khi sử dụng trang web này để tìm hiểu các địa điểm
                        du lịch. Các bài viết rất chi tiết, có kèm hình ảnh thực tế và kinh nghiệm cá nhân nên rất dễ
                        hình dung. Phần gợi ý món ăn địa phương cũng rất hữu ích, giúp chuyến đi của mình thú vị và trọn
                        vẹn hơn.<span>&rdquo;</span></p>
                </div>
                <div class="Review-item-img rows">
                    <img src="../DA2/public/asset/img/add2.jpg">
                    <div class="Review-item-img-text">
                        <h2>Mai Thuý Thanh</h2>
                        <p>ngày 03/08/2025</p>
                    </div>
                </div>
            </div>
            <div class="Review-item">
                <div class="Review-item-text">
                    <img src="../DA2/public/asset/img/comment2.png">
                    <p><span>&ldquo;</span> Trang web dễ tra cứu thông tin và phù hợp với cả người mới đi du lịch lần
                        đầu. Mình đặc biệt thích phần phân loại theo vùng miền, giúp mình nhanh chóng chọn được điểm đến
                        phù hợp với thời gian và ngân sách. Đây là một nguồn tham khảo đáng tin cậy mà mình sẽ còn quay
                        lại nhiều lần.<span>&rdquo;</span></p>
                </div>
                <div class="Review-item-img rows">
                    <img src="../DA2/public/asset/img/add3.jpg">
                    <div class="Review-item-img-text">
                        <h2>Nguyễn Huỳnh Thanh Cúc</h2>
                        <p>ngày 17/04/2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-container">
    <p>tải ứng dụng</p>
    <div class="app-google">
        <a href=""><img src="../DA2/public/asset/img/8.png" alt="" /></a>
        <a href=""><img src="../DA2/public/asset/img/9.png" alt="" /></a>
        <p>nhận bản tin IVY moda</p>
        <input type="text" placeholder="nhập email của bạn" />
    </div>
</section>
<div class="footer-top row">
    <li>
        <a href=""><img src="../DA2/public/asset/img/10.png" alt="" /></a>
    </li>
    <li><a href="">liên hệ</a></li>
    <li><a href="">tuyển dụng</a></li>
    <li><a href="">giới thiệu</a></li>
    <li>
        <a href="" class="fab fa-facebook"></a>
        <a href="" class="fab fa-twitch"></a>
        <a href="" class="fab fa-youtube"></a>
    </li>
</div>

<div class="footer-bottom">
    <p>©IVYmoda All rights reserved</p>
</div>
  </body>
  <script src="../DA2/public/asset/js/header.js"></script>
  <script src="../DA2/public/asset/js/home-head.js"></script>
  <script src="../DA2/public/asset/js/tour.js"></script>
  <script src="../DA2/public/asset/js/booking.js"></script>
</html>
